article{
    background-color: var(--shape-body);
    margin-block: 20px;
    margin-right: 40px;
    max-width: 100%;
    overflow: auto;
    border-radius: 12px;

    & .container{
        width: 560px;
        margin-inline: auto;
        margin-block: 80px;
    }
}

/*     FORMULARIOS     */

form{
    & input{
        background-color: var(--input-base);
        border: none;
        border-radius: 8px;
        height: 48px; 
        width: 100%;

        font: var(--body-md);
        color: var(--input-placeholder);
        padding-inline: 16px;

        /* mudar seletor*/
    }

    & textarea{
        background-color: var(--input-base);
        border: none;
        border-radius: 8px;
        width: 100%;
        resize: none;

        font: var(--body-md);
        color: var(--input-placeholder);
        padding: 16px;
    }
}

/* sobre o evento */ 
.info-evento{
    &  label{
        display: block;
        margin-block: 16px 12px;

        font: var(--body-sm);
        color: var(--text-body);
    }

    & .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        gap: 16px;
    }

    .radio-style{      
        background-color: var(--input-base);
        border-radius: 8px;
        padding: px;
        gap: 4px;
        
    }

    & .tipo{
        position: relative;
        border-radius: 8px;

        & .radio-image{
            background-image: url(../assets/icone/building-2.svg);
            width: 16px;
            margin-right: 8px;   
        }
        & .radio-image-2{
            background-image: url(../assets/icone/video.svg);
            width: 16px;
            margin-right: 8px;   
        }

        &:hover, &:focus{
            background-color: var(--shape-button);
        }

        &:has(:checked){
            background-color: var(--shape-button);

            & .radio-image{
                background-image: url(../assets/icone/biulding-checked.svg);
            }
            & .radio-image-2{
                background-image: url(../assets/icone/video-checked.svg);
            }
        }
        
        & input{
           all: unset;
           position: absolute;
           inset: 0;
        }

        & label{
            display: flex;
            justify-content: center;                           
            
        } 
    }
}
    /* COLOCAR ICONE NO INICIO DOS BOTOES */



   
