.info-evento{

    input[type="datetime-local"]{
        position: relative;

        &::-webkit-calendar-picker-indicator{
            opacity: 0;
        }

        &::before{
            content: '';
            position: absolute;
            background: url(../../assets/icone/calendar.svg)center/contain;
            right: 1rem;
            width: 1.25rem;
            height: 1.25rem;

            top: 50%;
            transform: translateY(-50%);
        }
    }

    &  label{
        display: block;
        margin-block: 16px 12px;

        font: var(--body-sm);
        color: var(--text-body);
    }

    & .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        gap: 16px;
    }

    .radio-style{      
        background-color: var(--input-base);
        border-radius: 8px;
        padding: px;
        gap: 4px;
        
    }

    & .tipo{
        position: relative;
        border-radius: 8px;



        & .radio-image{
            background-image: url(../../assets/icone/building-2.svg);
            width: 16px;
            margin-right: 8px;   
        }
        & .radio-image-2{
            background-image: url(../../assets/icone/video.svg);
            width: 16px;
            margin-right: 8px;   
        }

        &:hover, &:focus{
            background-color: var(--shape-button);
        }

        &:has(:checked){
            background-color: var(--shape-button);

            & .radio-image{
                background-image: url(../../assets/icone/biulding-checked.svg);
            }
            & .radio-image-2{
                background-image: url(../../assets/icone/video-checked.svg);
            }
        }
        
        & input{
           all: unset;
           position: absolute;
           inset: 0;
        }

        & label{
            display: flex;
            justify-content: center; 
                                   
            
        } 
        
    }
}